body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
 }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
  
.text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.header {
	width: 1200px;
	margin: 0 auto;
	padding: 0px 0px;
	box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
	}



.navigation {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content:space-around; 
}

.nav igation li:nth-child(3) {
  width: 244px;
}

.navigation li {
	margin: 0;
    padding: 0;
	height: 56px;
	width: 239px;
	list-style: none;
	text-align: center; 
}

 .navigation-item {
  color: #000000; 
  text-align: center;
	 
  
}

 .navigation a:hover,
 .navigation a:focus{
  color: #81b3d2;
}	 
 .navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation .nav-active {
  color: #766357;
}

.header-logo {
  width: 138px;
  height: 70px;
  color: transparent;
}

.intro {
  display: flex;
  background-image: url("../img/welcome-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size:  1200px 508px;
  background-position: 1px 0px;  
  text-align: center;
  justify-content: center;
}

.intro img {
	margin: 0;
	padding: 0;
	margin-top: 76px;
	margin-bottom: 80px;
}

.about-sedona {
  background-color: #ffffff;
	display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.intro::before {
  content: "";
  background-image: url("../img/welcome-shape.png");
  position: absolute;
  width: 1200px;
  height: 58px;
  top: 508px;
  
}
  
.about-sedona h2 {
 padding: 0;
 margin: 0;
 font-size: 21px;
 line-height: 26px;
 margin-top: 56px;
 margin-bottom: 38px;
}

.about-sedona p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 56px; 
}

.reason-promo {
 margin: 0;
 padding: 0;
 background-color: #81b3d2;
 background-image: url("../img/reason-promo-background.jpg");
 background-repeat: no-repeat;
 background-position: right; 
 color:#ffffff;
 display:flex;
 height: 256px;
 align-items: center
  	 
}

.reason {
  padding:0;
  margin: 0;
  text-align: center;
   
}

.true-city {
	margin-left: 60px;
}

.devil-brige {
	margin-right: 49px;
}

.advantages {
  padding: 0;
  margin: 0;
  display:flex; 
  text-align: center;
  background-color: #ffffff;
  list-style: none;
  justify-content: space-around;
  height: 330px;
   }


.advantages-item {
  margin-top: 164px; 
}

  .advantages-item-hotel::before {
  content: "";
  background-image: url("../img/advantages-hotel.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 75px;
  height: 72px;
  top: 1096px;
  margin-left: -35px;
  }

  .advantages-item-food::before {
  content: "";
  background-image: url("../img/advantages-food.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 74px;
  height: 70px;
  top: 1096px;
  margin-left: -35px;
  }

  .advantages-item-souvenirs::before {
  content: "";
  background-image: url("../img/advantages-souvenirs.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 64px;
  height: 76px;
  top: 1096px;
  margin-left: -30px;
  }

.reason-promo-reverse {
 background-image: url("../img/reason-promo-reverse-background.jpg");
 background-position: left; 
 justify-content: flex-end;
}

.reason-block {
  list-style: none;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  display:flex; 
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 256px;
  
}

.interested {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 291px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end

  
}

.interested h2{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
   
}
.interested p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 24px;	
}

.button-search-hotel {
  margin: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  }


.interested label{
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.map {
	margin-bottom: -10px;
 
}

.search-hotels ul {
 margin: 0;
 padding: 0; 
 list-style: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-search,
.button-detail{
  background-color: #81b3d2;	
}

.button-search:hover,
.button-detail:hover,
.button-search:focus,
.button-detail:focus {
  background-color: #669ec0;	
}

.button-search:active,
.button-detail:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3)
}

.search-hotels input {
  background-color: #f2f2f2;
}

.search-hotels input:hover {
  background-color: #ebebeb;
}

.search-hotels input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  width: 1200px;
  height: 217px;
  
}

.filter-form {
	display:flex;
	justify-content: space-around
}

fieldset {
	border: none;
	font-weight: bold;
  	font-size: 16px;
  	line-height: 21px;
}

.infrastructure {
	list-style: none;
	font-weight: normal;
  	font-size: 14px;
  	line-height: 21px;
 	}

.hotel-type {
	list-style: none;
	font-weight: normal;
  	font-size: 14px;
  	line-height: 21px;
}

 .price-option {
   list-style: none;
}
 .price-option-range {
    list-style: none;
	color: #ffffff;
}

.price-option-range input {
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
}


.filter-input {
	color:#ffffff;
	background-color: transparent;
	border: solid 2px #ffffff;
	font-weight: normal;
}

.button-show {
	color:#ffffff;
	background-color: transparent;
	border: solid 2px #ffffff;
	font-weight: normal;
	font-size: 14px;
  	line-height: 21px;
}

.button-show:hover,
.button-show:focus {
	color:#000000;
	background-color: #ffffff;
    border: solid 2px #ffffff;
}	

.filter-sorting {
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 86px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;	
	
}
 

.results-amount {
	font-weight: bold;
	font-size: 21px;
  	line-height: 26px;
}

.results-sorting {
	font-size: 12px;
  	line-height: 18px;
	display: flex;
	
}

.sorting-type {
	list-style: none;
}

.sorting-type li{
	display: inline;
	margin: 0px 10px;
}

.arrows li {
    display: inline;
	margin: 0px;
}

.sorting-type a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #81b3d2;
}

.sorting-type a:hover,
.sorting-type a:focus{
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-type a:active {
	color: #000000;
	border-bottom: 0px dashed #81b3d2;
}

.sort-activ a{
	color: #81b3d2;
	border-bottom: 0px;
	}

.arrows {
	list-style: none;
	}

.arrows a {
  text-decoration: none;
  margin-right: 20px;
  color: #cacaca;
  transition: color 0.5s ease;
  }

.arrows a:hover,
.arrows a:focus {
  color: #000000;
}

.arrows a:active {
  color: #81b3d2;
}

 .arrow-down a{
  color: #81b3d2;
	 
}	

.result-hotels ul {
 list-style: none;
}

.result-hotels-item  h2{
	font-size: 21px;
  	line-height: 26px;
	
}
.result-hotels-item  p{
	font-size: 14px;
  	line-height: 21px;
}

.result-hotels-item  button{
	font-size: 14px;
  	line-height: 21px;
}

.left {
 text-align: left;
}


.star {
	display: inline;
}
.result-hotels-item a  {
	color: #000000;
}

.result-hotels-item a:hover,
.result-hotels-item a:focus {
	color: #81b3d2;
}

.result-hotels-item a:active {
	color: rgba(0, 0, 0, 0.3);
}
.footer {
  width: 1200px;
  height: 120px;
  margin: 0px auto;
  padding: 0px 0px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2); 
  display: flex; 
  justify-content: space-around;
  align-items:center;
	
 }
.hashtag {
  margin: 0;
  padding: 0;
}


.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  color: #ffffff;
}

.social-buttons a:hover,
.social-buttonsa a:focus {
  background-color: #669ec0;	
}

.social-buttons a:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255, 0.3)
}
.footer-logo {
	margin: 0;
    padding: 0;
	font-size: 14px;
  	line-height: 26px;
	font-weight: normal;
	display: flex;
	justify-content: space-around;
  	align-items:center;
}


.footer-logo p{
	margin: 0;
    padding: 0;
	margin-right: 8px;
	color: #000000;
}

.footer-academy-logo {
  text-decoration: none;
  margin-right: 20px;
  color: #000000;
  transition: color 0.5s ease;
}

.footer-academy-logo:hover {
 color: #81b3d2;
}

.footer-academy-logo:active {
 color:  #bdbbbc;
}




